<?xml version="1.0" encoding="UTF-8"?>
<settings>

  <servers>
    <server>
     <id>{{ PROJECT_NAME }}-nexus</id>
     <username>deployment</username>
     <password>deployment123</password>
    </server>
  </servers>
  
  <mirrors>
    <mirror>
      <id>{{ PROJECT_NAME }}-nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>http://{{ NEXUS_HOST }}:{{ NEXUS_PORT }}/repository/{{ PROJECT_NAME }}-public/</url>
    </mirror>
  </mirrors>

  <activeProfiles>
    <activeProfile>{{ PROJECT_NAME }}-nexus</activeProfile>
  </activeProfiles>

  <profiles>
    <profile>
      <id>{{ PROJECT_NAME }}-nexus</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

</settings>